#main-title-container {
    position: relative;
    margin-bottom: 140px;
}

#main-title {
    font-family: 'Poppins-Bold';
    font-size: 72px;
    color: #333333;
    padding-left: 120px;
    padding-top: 78px;
}

#horizontal-line {
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    border-width: 2px;
    border-color: solid rgb(0, 0, 0);
}

#horizontal-line-container {
    position: absolute;
    top: 120px;
    right: 120px;
    width: 47.43%;
}

#stat-box {
    width: 252px;
    height: 525px;
    background-color: #2C3878;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 250px;
    margin-right: 262px;
}

#all-right {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 290px;
    margin-right: 52px;
    font-family: 'Poppins-Medium';
    font-size: 18px;
    transform: rotate(-90deg);
}

#count {
    font-family: 'Poppins-Regular';
    font-size: 52px;
    color: #FFFFFF;
    text-align: center;
}

#count-first {
    font-family: 'Poppins-Regular';
    font-size: 52px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 40px;
}

#count-details {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    padding-bottom: 57px;
}

#main-image {
    padding: 0px 120px;
    padding-top: 46px;
}


#about-container {
    padding-bottom: 140px;
}

#mini-title-container {
    padding-left: 120px;
    padding-bottom: 20px;
}

#mini-title {
    font-family: 'Poppins-Medium';
    font-size: 16px;
    float: left;
    padding-right: 17px;
}

#mini-title-hr {
    width: 529px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    border-width: 2px;
    border-color: solid rgb(0, 0, 0);
    float: left;
    margin-top: 10px;
}

#about-title {
    display: inline-block;
    padding: 0px 120px;
    font-family: 'Poppins-SemiBold';
    font-size: 36px;
    color: #333333;
    text-align: center;
    margin-bottom: 60px;
}

#about-image {
    padding-left: 8.33%;
    float: left;
    width: 61.31%;
    height: 525px;
}

#about-content {
    font-family: 'Poppins-Regular';
    font-size: 18px;
    color: #9C9C9C;
    float: left;
    width: 223px;
    margin-left: 94px;
    margin-top: 197px;
}

#ceo-image-container {
    width: 276px;
    height: 90px;
    position: absolute;
    top: 413;
    right: 16.38%;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.05);
}

#ceo-image {
    height: 56px;
    width: 51px;
    float: left;
    margin: 17px 20px;
}

#ceo-name {
    font-family: 'Poppins-SemiBold';
    font-size: 18px;
    color: #000000;
    padding-top: 17px;
}

#ceo-position {
    font-family: 'Poppins-Regular';
    font-size: 18px;
    color: #9C9C9C;
}

#ceo-details {
    float: left;
}


#service-container {
    padding-top: 120px;
    margin-bottom: 500px;
    clear: both;
}

#service-title {
    display: inline-block;
    padding: 0px 120px;
    font-family: 'Poppins-SemiBold';
    font-size: 36px;
    color: #333333;
    text-align: center;
    margin-bottom: 24px;
}

#service-des {
    font-family: 'Poppins-Regular';
    font-size: 18px;
    color: #9C9C9C;
    padding-left: 120px;
    padding-bottom: 40px;
}



#service-list-item {
    display: inline-block;
    padding: 0px 120px;
    margin-left: 120px;
    width: 883px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.05);
    padding-top: 30px;
}

#service-id {
    font-family: 'Poppins-SemiBold';
    font-size: 36px;
    color: #333333;
    float: left;
    padding-right: 40px;
    padding-bottom: 35px;
}

#service-details-contatiner {
    float: left;
}

#service-name {
    font-family: 'Poppins-SemiBold';
    font-size: 36px;
    color: #333333;
}

#service-arrow {
    float: right;
    padding-top: 15px;
}

#service-image {
    width: 1076px;
    height: 525px;
    position: absolute;
    top: 348px;
    right: 120px;
    z-index: -1;
}

.plusIcon {
    float: right;
    padding-right: 120px;
    cursor: pointer;
}

.login {
    margin-left: 120px;
    margin-top: 20px;
    width: 120px;
    height: 50px;
}