<div id="main-title-container">
    <div id="main-title">Design your<br />
        interor with high<br /> quality.</div>
    <div id="horizontal-line-container">
        <hr size="9" id="horizontal-line">
    </div>
    <div id="stat-box">
        <div id="count-first">350+</div>
        <div id="count-details">Project Completed</div>
        <div id="count">23+</div>
        <div id="count-details">Professional Teams</div>
        <div id="count">15+</div>
        <div id="count-details">Years Experience</div>
    </div>
    <div id="all-right">2022<br/>ALL RIGHT RESERVED</div>
    <img id="main-image" src="../../../../assets/main/main.png" alt="Bootstrap" width="100%" height="100%">
</div>

<div id="about-container" data-aos="fade-right" data-aos-offset="400" data-aos-duration="2000" data-aos-delay="400"> 
    <div id="mini-title-container">
        <div id="mini-title">ABOUT</div>
        <hr id="mini-title-hr">
    </div>

    <div id="about-title">
        “We're one of the best furniture agency. Prioritizing customers and making purchases easy are the hallmarks of our agency.”
    </div>

    <img id="about-image" src="../../../../assets/main/about.png" alt="Bootstrap" width="100%" height="100%">

    <div id="about-content">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</div>

    <div>This is test</div>
</div>